#medway-header {
    color: #ffffff;
    font-size: 48px;
    position: relative;
    top: 50px;
}

body {
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    color: #333;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

header {
    background-color: #0a5a83; /* Blue */
}

nav a {
    color: rgb(12, 11, 11);
    text-decoration: none;
    padding: 8px;
}

nav a:hover {
    color: #79b3f0; /* light blue */
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #0a5a83;
    color: white;
    margin-top: 250px;
    position: static;
    bottom: 0px;
}

#medway-logo{
    position: relative;
    top: -40px;
}

#medway-banner {
background-color: #0a5a83;
color: #ffffff;
font-size: 48px;
padding: 5px;
}

#medway-nav {
    background-color: rgb(242, 242, 243);
    font-weight: bold;
    padding: 20px 40px;
}

#nav-link {
  padding-right:20px;
  position: relative;
  left: 100px;
}

#norse-banner {
    background-color: #47525e ;
    color: white;
    padding-bottom: 15px;
}

#norse-logo {
    width: 200px;
    position: relative;
    left: -125px;
    top: 25px;
}


#norse-nav {
  display: flex; /* Use flexbox for horizontal alignment */
}

.nav-item {
  display: flex;
  align-items: center; /* Align text and icon vertically */
  padding: 10px ; /* Add padding for better spacing */
  text-decoration: none; /* Remove underline */
  color: #ffffff; /* Default text color */
  transition: color 0.3s; /* Smooth transition for text color */
  white-space: nowrap;
  margin: 0px 20px ;
  position: relative;
  bottom: 40px;
}

.nav-item:hover {
  color: rgb(231, 61, 92); /* Change text color on hover */
}

.nav-item .fa {
  color: rgb(231, 61, 92); /* Font Awesome icon color */
  padding: 3px; /* Add padding for the background */
  transition: background-color 0.1s; /* Smooth transition for background */
  border-radius: 50%;
  font-weight: 100;
}

.nav-item:hover .fa {
  background-color: #88919b; /* Change background on hover for the icon */
 }

#contact-btn {
    font-weight: bold;
    padding: 18px 27px;
    border-radius: 0px 15px;
    border: none;
    background-color: rgb(231, 61, 92);
    color: white;
    cursor: pointer;
    margin-top: 10px;
    position: relative;
    left: 50px;
}
#contact-btn:hover {
    background-color: white;
    color: rgb(231, 61, 92);
}

 /*cookies*/

 #consentBox {
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: fixed;
    top: 50px;
    left: 650px;
    width: 500px;
}

#consentBox.hide {
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    transition: all 0.3s ease;
}

::selection {
    color: #fff;
    background: #e73d5c;
}

#consentContent p {
    color: #858585;
    margin: 10px 0 20px 0;
}

#consentContent .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.consentButton,
.rejectButton {
    padding: 12px 30px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.consentButton {
    background: #e73d5c;
    margin-right: 10px;
}

.rejectButton {
    color: #111211;
    background: transparent;
    border: 2px solid #e73d5c;
    text-decoration: none;
}

#consentBox img {
    max-width: 90px;
}

#consentHeader {
    font-size: 25px;
    font-weight: 600;
    margin-top: 10px;
    width: auto;
    background-color: transparent;
}

/* Form CCS */

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  input[type=email], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  input[type=number], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #0a5a83;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: opacity 0.5s
  }

  input[type=submit]:hover{
    opacity: 75%;
  }
  
  input[type=submit]:active {
    background-color: #ffffff;
    color: #0a5a83;
    border-color: #0a5a83;
    border:solid ;
    border-width: 1px;
    box-shadow: #333;
    padding: 11px 19px;
    font-weight: bold;

  }
  
  /* Add a background color and some padding around the form */
  #contact-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    font-weight: bold;
  }

/* radio button */

.radio-cont{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-weight: 400;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .radio-cont input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .radio {
    position: absolute;
    top: 3px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .radio-cont:hover input ~ .radio {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .radio-cont input:checked ~ .radio {
    background-color: #0a5a83;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .radio:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .radio-cont input:checked ~ .radio:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .radio-cont .radio:after {
       top: 7px;
      left: 7px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: white;
  }